<!DOCTYPE html>
  <html lang="en">
  <head>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      .click a {
        display: block;
      }
      .board table {
        width: 90%;
      }
      .blue {
        background-color: blue;
      }
      .red {
        background-color: red;
      }
      .water {
        background-color: #03c6fc;
      }
      .empty {
        background-color: antiquewhite;
      }
      .out_of_range {
        filter: brightness(60%);
      }
      .selected {
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
        opacity: 0.5;
      }
      td {
        width: 9.09%;
        position: relative;
      }
      td:after {
        content: '';
        display: block;
        margin-top: 100%;
      }
      .square {
        display: table;
      }
      .content {
        font-size:7vw;
        color:white;
        text-align:center;
        vertical-align: bottom;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
      .row-header {
        font-size:5vw;
        color:black;
        text-align:center;
        vertical-align: bottom;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
      .popup {
        position: fixed; /* Sit on top of the page content */
        display: block; 
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.75); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer;
      }
      .popup_text{
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 50px;
      color: white;
      transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      background-color:#66635d
      border-radius: 15px;
      }
      .popup_link {
        color:white;
      }
  </style>
    <title>Flask_Chat_App</title>
  </head>
  <body>
    <h1>{{ session.get('user_id') }}</h1>
    <div id="phase"></div>
     <ul>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    </ul>
      <h2>Game Code</h2>
      <h3>{{ session.get('session_code') }}</h3>
      <!-- table for pieces not on the board -->
      
      <table id="chest" border="1px solid black" border-collapse="collapse" width="90%">
            {% set i = [] %}
            {% for piece in session.get('unplaced_pieces') %}
            {% if session.get('unplaced_pieces').index(piece) == 0 %}
              <tr>
            {% endif %}
            {% for x in range(piece[1]) %}
            {% set __ = i.append(1) %}
              <td><div class="square"><div class="content {{ session.get('color') }}">{{ piece[0] }}</div></div></td>
            {% if i|length % 10 == 0 %}
              </tr><tr>
            {% endif %}
            {% endfor %}
            {% endfor %}
              </tr>
      </table>
      <div id='invalid_move_message'><br></div>
      <!-- Table for game board -->
      <div id='board_container'>
      <table id="grid" class="board" border="1px solid black" border-collapse="collapse" width="90%">
            <tr>
                <th></th>
              {% for n in range(10) %}
                <th>{{ n+1 }}</th>
              {% endfor %}
            </tr>
          {% for row in session.get('board_state') %}
            <tr id = {{ row }} >
                <td class="board"><div class="square"><div class="row-header">{{ row }}</div></div></td>
            {% for cell in session.get('board_state')[row] %}
                {% set cellContent =  session.get('board_state')[row][cell]['piece'] %}
                <td class="board" id= {{ cell }} ><div class="square"><div class="content {{ session.get('board_state')[row][cell]['color'] }}">
                {% if session.get('board_state')[row][cell]['color'] == session.get('color') %}
                  {{ cellContent }}
                {% endif %}
                </div></div></td>
            {% endfor %}
            </tr>
          {% endfor %}
      </table>
      </div>
      <script>
      window.phase = "{{ session.get('phase') }}"
      var own_team = "{{ session.get('color') }}";

      // determine which message to show user about current phase
      function showPhase(phase) {
      var phase_div = document.getElementById("phase");
      if (window.phase === 'preparation') {
        phase_div.innerHTML = "<h3>Set Your Pieces</h3>";
      }
      else if (window.phase === own_team) {
        phase_div.innerHTML = "<h3>Your Turn</h3>";
      }
      else if (window.phase !== "game_over") {
        phase_div.innerHTML = "<h3>Opponent's Turn</h3>";
      }
      }

      // show phase when page loads
      showPhase(window.phase);


      function extractData(target) {
      target.classList.add("selected");
      window.transfer_payload = target.innerHTML.trim();
      }

      function loadData(target,payload = window.transfer_payload,team=own_team,sync_board=false) {
      var origin = document.getElementsByClassName("selected")[0]
      if ( origin !== undefined ) {
        var origin_coords = [origin.parentNode.parentNode.parentNode.id,origin.parentNode.parentNode.id];
        origin.classList.remove("selected","blue","red");
        origin.classList.add('empty');
        origin.innerHTML = "";
      };

      var target_coords = [target.parentNode.parentNode.parentNode.id,target.parentNode.parentNode.id];
      if (target.classList.contains('empty') || sync_board==true) {
        target.innerHTML = payload;
        target.classList.remove('empty','blue','red');
        target.classList.add(team);    
      } 

      delete window.transfer_payload;

      return {
            origin_cell : origin_coords,
            destination_cell : target_coords,
            moved_piece : {'color':team,'piece':payload},
            phase : window.phase,
            responsible_team : team
          };
      }

      function handleData(evt) {
      var team = "{{ session.get('color') }}";
      var clickedOn = evt.target;

      function setMessage(message) {
        document.getElementById("invalid_move_message").innerHTML = message;
      }
      // check if existing payload is in browser
      if (typeof window.transfer_payload !== 'undefined') {
        // check if user is trying to move piece to same square
        if (clickedOn.classList.contains('selected') === false) {
              // check if user is trying to move where they already have another piece
              if (clickedOn.classList.contains(team) === false) {
                // check if user is trying to move to the water
                if (clickedOn.classList.contains('water') === false) {
                  //send new board state to back end, render changes in client
                  if (clickedOn.classList.contains('out_of_range') === false) {
                    socket.emit( 'board state', loadData(clickedOn) );
                    modifyGrid('grid',modification='clearHighlighting');
                    return false;
                  }
                } else {
                    setMessage('pieces don\'t float!');
                    setTimeout(setMessage, 2000,'<br>');                  
                }
            } else {
                  setMessage('you already have a piece there');
                  setTimeout(setMessage, 2000,'<br>');
            }
          }
        // if move is invalid, get selected grid square, and remove class
        document.getElementsByClassName("selected")[0].classList.remove("selected");
        delete window.transfer_payload;
        modifyGrid('grid',modification='clearHighlighting');
        // if payload does not already exist & square is controlled by own team, extract from grid square
      } 
      else if (clickedOn.classList.contains(team) && (window.phase === team || window.phase === "preparation")) {
        extractData(clickedOn);
        if (clickedOn.classList.contains(team) && window.phase === team) {
             var selected = document.getElementsByClassName("selected")[0];
             if ( selected !== undefined ) {
              var selected_coords = [selected.parentNode.parentNode.parentNode.id,selected.parentNode.parentNode.id];
              window.transfer_payload = selected.innerHTML.trim();
              socket.emit('get range', { 'coordinates': selected_coords, 'color': own_team });
          }
        }
        modifyGrid('grid',modification='highlightSquares');
      }
    }

        function modifyGrid(table,modification=undefined,movementRange=undefined) {
          var grid = document.getElementById(table);

          if (table == 'grid') {
            rowStart = 1;
          } else {
            rowStart = 0;
          }

        if (modification == 'addListeners') {
          function makeModification(square,movementRange) {
            square.addEventListener('click',handleData,false);
            if (square.querySelector('.content').classList.contains('blue') === false && square.querySelector('.content').classList.contains('red') === false && square.querySelector('.content').classList.contains('water') === false) {square.querySelector('.content').classList.add('empty');}
        }
        }
        else if (modification == 'removeListeners') {
          function makeModification(square,movementRage) {
            square.removeEventListener('click',handleData,false);
          }
        }
        else if (modification == 'highlightSquares') {
          function makeModification(square,movementRange) {
            if (window.phase == 'preparation') {
              if (own_team == 'blue') {
                if (i > 4) {square.querySelector('.content').classList.add('out_of_range');}
              }
              else if (own_team == 'red') {
                if (i < 7) {square.querySelector('.content').classList.add('out_of_range');}
              }
            } 
            else if (window.phase == own_team) {
              if (movementRange !== undefined) {
                console.log('change me');
                if (movementRange[i] == undefined || movementRange[i].includes(j) == false) {
                  square.querySelector('.content').classList.add('out_of_range');
                }
              }
            }
          }
        } else if (modification == 'clearHighlighting') {
          function makeModification(square,movementRange) {
            square.querySelector('.content').classList.remove('out_of_range');
          }
        }

        for (var i = rowStart, row; row = grid.rows[i]; i++) {
          // iterate through rows
          // rows would be accessed using the "row" variable assigned in the for loop
          for (var j = rowStart, col; col = row.cells[j]; j++) {
            // iterate through columns
            // columns would be accessed using the "col" variable assigned in the for loop
            makeModification(col.querySelector('.square'),movementRange);
          }  
        }
      }

      modifyGrid('grid',modification='addListeners');
      modifyGrid('chest',modification='addListeners');

      </script>

    <div class="message_holder">
      {% block content %}
          <!-- {% if g.messages %} -->
            {% for message in g.messages %}
            <div><b style="color: #000">{{ message['user_name'] }}  </b>
            {{ message['message'] }}</div>
            {% endfor %}
          <!-- {% endif %} -->
      {% endblock %}
    </div>
    <form action="" method="POST">
      <input type="text" class="message" placeholder="Messages"/>
      <input type="submit"/>
    </form>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      var session_id = "{{ session.get('session_id') }}";

      socket.on( 'connect', function() {
        socket.emit( 'my event', {
          data: 'User Connected'
        } );

        console.log('Creating game...');
        socket.emit('create', {
          data: '{{ g.session_id }}'
        });

        // message handler for the 'join_room' channel
        socket.on('join_room', function(msg) {
            console.log(msg);
        });

        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          let user_name = '{{ session.get("user_id") }}'
          let user_input = $( 'input.message' ).val()
          socket.emit( 'chat message', {
            user_name : user_name,
            message : user_input
          } )
          $( 'input.message' ).val( '' ).focus()
        } )
      } )


      socket.on( 'my response', function( msg ) {
        // check if response is chat message
        if ( typeof msg.user_name !== 'undefined' ) {
          $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
        // otherwise handle as board state
        } else {
            // actions for both players when a board state is sent from back end
            if ( msg.game_over === true) { 
              modifyGrid('grid',modification='removeListeners');
              // document.getElementById('board_container').classList.add('faded-out');
              console.log('creating div');
              var game_over_div = document.createElement('div');
              game_over_div.classList.add('popup');
              var inner_message_div = document.createElement('div');
              inner_message_div.classList.add('popup_text')
              game_over_div.appendChild(inner_message_div);
              inner_message_div.innerHTML = 'Hello!<br><a class="popup_link" href=https://www.espn.com>Return to Start</a>'
              document.getElementById('board_container').appendChild(game_over_div);
              console.log('div created');
            } else {
            window.phase = msg['phase'];
            showPhase(window.phase);
            }
            // handling of board states received by backend for opposing moves only
            // modifies front end based on change
            console.log(msg);
            if ( own_team !== msg['responsible_team'] ) {
              var origin_row = msg['origin_cell'][0];
              var origin_col = msg['origin_cell'][1];
              var destination_row = msg['destination_cell'][0];
              var destination_col = msg['destination_cell'][1];
              var team = msg['moved_piece']['color'];

              if ( team == own_team) {
                var payload = msg['moved_piece']['piece'];
              } else {
                var payload = "";
              }

              var offboard_origin = msg['origin_cell'].includes("");
              if ( offboard_origin  === false) {
                extractData(document.getElementById(origin_row).querySelector('#' + CSS.escape(origin_col)).querySelector('.square').querySelector('.content'));
              }

              loadData(document.getElementById(destination_row).querySelector('#' + CSS.escape(destination_col)).querySelector('.square').querySelector('.content'),payload=payload,
                team=team,sync_board=true);
              socket.emit( 'opposing board sync' );
            }
        }
      })

      socket.on( 'return range', function( msg ) {
        console.log(msg['phase']);
        if (window.phase === own_team) {
          modifyGrid('grid',modification='highlightSquares',movementRange=msg);
        }
      })

      socket.on( 'own combat result', function( msg ) {
        if (window.phase === own_team) {
          var destination_row = msg['destination_cell'][0];
          var destination_col = msg['destination_cell'][1];
          console.log( 'hiiii' );
          console.log( msg )
          var winning_team = msg['moved_piece']['color'];
          console.log(winning_team);
          if (winning_team === own_team) {
            var payload = msg['moved_piece']['piece'];
          } else {
            var payload = "";
          }


          loadData(document.getElementById(destination_row).querySelector('#' + CSS.escape(destination_col)).querySelector('.square').querySelector('.content'),
            payload=payload,team=winning_team,sync_board=true);
        }
      })
      
    </script>

  </body>
  </html>