<!DOCTYPE html>
  <html lang="en">
  <head>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      .click a {
        display: block;
      }
  </style>
    <title>Flask_Chat_App</title>
  </head>
  <body>
     <ul>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    </ul>

      <h2>Game Code</h2>
      <h3>{{ session.get('session_code') }}</h3>
      <table id="grid" border="1px solid black" border-collapse="collapse" width="80%" cellpadding=20px>
            <tr>
                <th></th>
              {% for n in range(10) %}
                <th>{{ n+1 }}</th>
              {% endfor %}
            </tr>
          {% for row in session.get('board_state') %}
            <tr>
                <td>{{ row }}</td>
            {% for cell in session.get('board_state')[row] %}
                <td><{{ session.get('board_state')[row][cell] }}</td>
            {% endfor %}
            </tr>
          {% endfor %}
      </table>
      <script>
      function changeColor(evt){
      var clickedOn = evt.target;
      // for HTML
      clickedOn.style.backgroundColor = '#f00';
      }
      var grid = document.getElementById("grid");
      for (var i = 0, row; row = grid.rows[i]; i++) {
         //iterate through rows
         //rows would be accessed using the "row" variable assigned in the for loop
         for (var j = 0, col; col = row.cells[j]; j++) {
           //iterate through columns
           //columns would be accessed using the "col" variable assigned in the for loop
           col.addEventListener('click',changeColor,false);
           console.log('working')
         }  
      }
      for (var i = 0, cell; cell = grid.cells[i]; i++) {

        }
      </script>

    <div class="message_holder">
      {% block content %}
          <!-- {% if g.messages %} -->
            {% for message in g.messages %}
            <div><b style="color: #000">{{ message['user_name'] }}  </b>
            {{ message['message'] }}</div>
            {% endfor %}
          <!-- {% endif %} -->
      {% endblock %}
    </div>

    <form action="" method="POST">
      <input type="text" class="message" placeholder="Messages"/>
      <input type="submit"/>
    </form>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      var session_id = 

      socket.on( 'connect', function() {
        socket.emit( 'my event', {
          data: 'User Connected'
        } );

        console.log('Creating game...');
        socket.emit('create', {
          data: '{{ g.session_id }}'
        });

        // message handler for the 'join_room' channel
        socket.on('join_room', function(msg) {
            console.log(msg);
        });

        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          let user_name = '{{ session.get("user_id") }}'
          let user_input = $( 'input.message' ).val()
          socket.emit( 'chat message', {
            user_name : user_name,
            message : user_input
          } )
          $( 'input.message' ).val( '' ).focus()
        } )
      } )


      socket.on( 'my response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' ) {
          $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
        }
      })

      socket.on( 'board states', function( msg ) {
        console.log( msg )
        }
      )
    </script>

  </body>
  </html>