<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
    <link rel="stylesheet" href="/static/login.css">
    <title>Flask_Chat_App</title>
  </head>
  <body>
    <div class='clipped'></div>
    <div class='card'>
      <div id='title'><h1>PyStratego</h1></div>
      <div id="firstChoice">
        <script src="/static/login.js"></script>
        <Button class="btn btn-secondary" onclick="showForm('create')">Create Session</Button><br>
        <Button class="btn btn-secondary" onclick="showForm('join')">Join Session</Button>
      </div>

      <div style="display:none" id="joinGame">
        <form action="" method="POST">
          <label for="session_code">Session ID</label>
          <input name="session_code" type='text' id="session_code" required><br>
          <label for="username">Username</label>
          <input name="username" type='text' id="username" required><br>
          <label for="password">Password</label>
          <input type="password" type='text'name="password" id="password" required><br>
          <input type="submit" class='button btn btn-secondary' value='Join'/>
        </form>
      </div>

      <div style="display:none" id="createGame">
        <form action="" method="POST">
          <label for="username">Username</label>
          <input name="username" type='text' id="username" required><br>
          <label for="password">Password</label>
          <input type="password" type='text' name="password" id="password" required><br>
          <input type="submit" class='button btn btn-secondary' value='Create'/>
        </form>
      </div>
    </div>

      
  </body>
  </html>